@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+AU+VIC+Guides&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat',sans-serif;
    font-weight: 300;

}

/* .menu{
    display: none;
} */


/* header */
.header{
    height: 8rem;
    background-color:#415a77;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    z-index: 100;
    opacity: 0.9;
}

.logo{
    background-color: #f68080;
    padding: 2rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    color:#827717 ;
    font-family: "Montserrat",serif;
    position: relative;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0,.3);
    border: none;
}

.logo h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

.menu-list{
    width: 35vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    letter-spacing: .2rem;
}

.menu-link{
    text-decoration: none;
    font-family: 'Montserrat',serif;
    font-size: 1.6rem;
    font-weight: 300;
    color: #f68080;
    text-transform: uppercase;
    transition: color .3s;
}

.menu-link:hover{
    color: #ffd180;
}




/* end of header*/

/* main */
.main{
    height: 50rem;
    margin-top: 8rem;
    background: linear-gradient(180deg,rgba(0,0,0,.7),rgba(0,0,0,.2));
    position: relative;
}
.hero{
    height: 40rem;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.image-wrapper{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    padding: 2rem;
    background-color:#333;
    animation: anim 2s ;

}

.image-wrapper img{
    width: 100%;
}

.main-heading{
    font-size: 4rem;
    color: #fce4ec;
    letter-spacing: .2rem;
    font-family: "Josefin Sans",serif;
    font-weight: 700;
    animation: anim 1.5s 0.5s backwards;  

}

.view-work{
    width: 25rem;
    margin-top: 2rem;
    letter-spacing: .1rem;
    background: linear-gradient(to right,#f9b16e,#f68080);
    outline: none;
    border: none;
    color: #fce4ec;
    font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
    padding: 1.2rem 2rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10rem;
    animation: anim 1s 1s backwards;
}

.view-work::first-letter{
    font-size: 2.1rem;
    color: gold;
}

.view-work:hover{
    background: linear-gradient(to left,#f68080,#f9b16e);

}

.view-work:active{
    transform: translateY(.2rem);
}

.social-icons-list{
    width: 25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    letter-spacing: .2rem;
    position: absolute;
    bottom: 4rem;
    animation: anim 0.5s 1.5s backwards;

}

.social-link{
    font-size: 1.8rem;
    color: #333;
    transition: color .3s;
}

.social-link:hover{
    color: #ffd180;
}

@keyframes anim{
    0%{
        opacity: 0 ;
    }

    100%{
        opacity: 1;
    }
}

/* end of main */

/* general */
.general-heading{
    text-align: center;
    font-size: 3.8rem;
    font-weight: 300;
    color: #f68080;
}


.short-line{
      width: 10rem;
      height: .1rem;
      background-color:#f68080;
      margin: 0 auto 1rem auto;
}

.long-line{
    width: 20rem;
    height: .1rem;
    background-color:#f68080;
    margin: 0 auto 1rem auto;
}
/* end of general */

/* about */
.about{
    background-color: #ddd;
    padding: 2rem;
}



.about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    margin-top: 2.8rem;
   
}

.about-sub-heading{
    font-family: 'Josefin Sans',serif;
    font-weight: 300;
    color:#333;
    font-size: 2.8rem;
    margin-bottom: .3rem;
    text-align: center;
}

.tech{
    color: #f68080;
    font-family: "Montserrat", serif;
  font-weight: 600;
  font-style: normal;
    /* margin-left: .8rem; */
   
}

.lister{
    font-size: 1.4rem;
    margin-right: .5rem;
    color:#1f3143;
}

/* .tech::before{
    content: "";
    font-size: 3.8rem;
    color:#827717;
    position: absolute;
    top: 0.3rem;
    left: -1.5rem;
} */



.skills-list{
    list-style: none;
    padding: 1.2rem;

}

.skills-item{
    margin-bottom: 1.2rem;
    font-size: 1.7rem;
    position: relative;
}

.contact-form{
    padding: 1.2rem;
    display: flex;
}

.contact-input{
    padding: .6rem;
    outline: none;
    background-color: #827717;
    color: #fce4ec;
    font-size: 1.8rem;
}

.line-separator{
    width: .1rem;
    background-color:#969494;
    font-weight: 300;
}
/* end of about */

/* projects */
.projects{
    background-color:#0d1b2a ;
    padding: 2rem;
   
   
}

.project-wrapper{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
    gap: 6rem;
}

.project-design{
    background-color: #fce4ec;
    box-shadow: 0 3rem 6rem rgba(150, 0, 255,.1);
    width: 100%;
}

.project-design img{
    width: 100%;
}

.project-desc{
    padding: 2rem;
}

.project-title{
    font-size: 2.8rem;
    font-family: 'Josefin Sans',serif;
    font-weight: 300;
    color:#3d3704
}

.project-paragraph{
    font-size: 1.6rem;
    font-family: 'Montserrat',serif ;
}
/* end of projects */

/* footer */
.footer{
    background-color: #415a77;
    color:#fce4ec;
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.copyright{
    margin-left: 2rem;
    letter-spacing: .2rem;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: 'Josefin Sans',serif;

}

.madeby-text{
    margin-right: 2rem;
    letter-spacing: .2rem;
    font-size: 1.3rem;
    font-weight: 300;
    font-family: 'Josefin Sans',serif;
}
/* end of footer */

@media(max-width:1500px){
    .about-content{
        flex-direction: column;
    }

    .line-separator{
        display: none;
    }

    .about-sub-heading{
        text-align: left;
    }
}

@media(max-width:1000px){

    .menu-list{
        display: none;
    }

 

    .line{
        width: 5rem;
        height: 0.4rem;
        background-color: #000814;
        margin-bottom: 0.4rem;
        transition: all .5s ease-in;
    }

    .checkbox:checked ~ .menu-list{
        width: 15rem;
        display: flex;
        flex-direction: column;
        top:8rem;
        position: absolute;
        right: -1.8rem;
       
    }

    .checkbox:checked ~ .drop-down .line-2{
        opacity: 0;
    }

    .checkbox:checked ~ .drop-down .line-1{
        transform: rotate(-405deg) translate(-5px,6px);
    }

    .checkbox:checked ~ .drop-down .line-3{
        transform: rotate(405deg) translate(-5px,-6px);
    }

    .menu-item{
        margin-bottom: 1.3rem;
    }
.project-title{
    font-size: 1.8rem;
}

.project-paragraph{
    font-size: 1rem;
}
.social-icons-list{
    width: 50%;
}

}

@media(max-width:670px){
    .project-title{
        font-size: 1.3rem;
    }
    .social-icons-list{
        width: 50%;
    }

}

@media(max-width:550px){
    .main-heading{
        font-size: 3rem;
    }
    .social-icons-list{
        width: 60%;
    }

}

@media(max-width:430px){
    .main-heading{
        font-size: 2.5rem;
    }
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .madeby-text{
        order: -1;
        margin:0 0 1rem 0;
    }
    .copyright{
        margin: 0;
    }
    .social-icons-list{
        width: 70%;
    }

}

@media(max-width:370px){
    .main-heading{
        font-size: 1.6rem;
    }

    .about-sub-heading{
        font-size: 2rem;
    }
    .project-title{
        font-size: 1rem;
    }
    .project-paragraph{
        font-size: .8rem;
    }

    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .madeby-text{
        order: -1;
        margin:0 0 1rem 0;
    }
    .copyright{
        margin: 0;
    }

    .social-icons-list{
        width: 80%;
    }

    .skills-item{
        font-size: 1rem;
    }

    .general-heading{
        font-size: 2.8rem;
    }

    .view-work{
        width: 15rem;
        font-size: 1rem;
    }

    .project-wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    
    }

    .project-design{
        width: 100%;
    }

    .menu-link{
        font-size: 1.2rem;
    }

    .checkbox:checked ~ .menu-list{
        width: 15rem;
        display: flex;
        flex-direction: column;
        top:8rem;
        position: absolute;
        right: -2.8rem;
    }

    .logo{
        width: 4rem;
        height: 4rem;
    }
    .logo h3{
        font-size: 1.6rem;
    }

    .line{
        width: 4rem;
        height: .2rem;
    }

    .checkbox:checked ~ .drop-down .line-1{
        transform: rotate(-405deg) translate(-4px,5px);
    }

    .checkbox:checked ~ .drop-down .line-3{
        transform: rotate(405deg) translate(-4px,-5px);
    }
}

